.no-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.no-messages img {
  width: 350px;
  object-fit: cover;
}

.no-messages p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 500px;
}
