.messages h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.messages .filters {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.messages .filters select {
  max-width: none;
  width: fit-content;
  padding-right: 1rem;
}
